@charset "utf-8";

@import "bulma/bulma";

$body-background-color: #42c765;

.sidebar {
    margin-top: 120px
}

.phone {
    svg {
        image {            
            width: 100%;
        }
    }
  
}

.logo {
    max-height: 250px;
}

body {
    background-color: $body-background-color;
}